<div class="hybrids-card">
  <h2>Hybrids</h2>
  <div class="hybrids-card">

    {{#each allHybrids}}
      <div class="row align-center mb-5">
        <h3>{{hybrid_name}}</h3>
        <h4>{{engine_type}}</h4>
        <h4>{{transmission}}</h4>
        <h4>{{color}}</h4>
        <h4>{{price}}</h4>
      </div>
    {{/each}}

  </div>
</div>