<div class="sedans-card">
  <h2>Sedans</h2>
  <div class="sedans-card">

    {{#each allSedans}}
      <div class="row align-center mb-5">
        <h3>{{sedan_name}}</h3>
        <h4>{{engine_type}}</h4>
        <h4>{{transmission}}</h4>
        <h4>{{color}}</h4>
        <h4>{{price}}</h4>
      </div>
    {{/each}}

  </div>
</div>