<h2>Trucks</h2>

<div class="truck-container">

  <div class="truck-card">

    {{#each allTrucks}}
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          {{truck_name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{engine_type}}</li>
          <li class="list-group-item">{{transmission}}</li>
          <li class="list-group-item">{{color}}</li>
          <li class="list-group-item">{{price}}</li>
        </ul>
      </div>
    {{/each}}
  </div>
</div>